doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='./static/css/navbar.css')
  style.
    body{
    position: relative;
    width: 100%;
    height: 110vh;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    }
    h1,
    h2 {
    text-transform: uppercase;
    font-weight: bold;
    }
    /*Sign In Form*/
    .mdl-textfield__input{
    border: 1px solid black;
    height: 30px;
    padding:15px;
    border-radius: 5px;
    }
    .mdl-textfield__label{
        padding:10px;
    }
    .signin{
    position: relative;
    height: 500px;
    width: 500px;
    margin: auto;
    border-radius:5px;
    box-shadow: 0px 10px 10px -5px #000;}
    /*Background Img*/
    .back-img{
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 150px;
    background: url('/static/img/log.jpg')no-repeat   center center;
    background-size: cover;
    }
    .layer {
    background-color: rgba(33,150,243,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    .active{
    padding-left: 25px;
    color: #fff;
    }
    .nonactive {
    color: rgba(255, 255, 255, 0.6);
    }
    .sign-in-text{
    top: 80px;
    position: absolute;
    z-index: 1;
    }
    h2 {
    padding-left: 15px;
    font-size: 25px;
    color:white ;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 300;
    }
    .point{
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 115px;
    padding-left: 50px;
    font-size: 20px;
    }
    /*form-section*/
    .form-section{
    padding: 70px 90px 70px 90px;
    }
    .keep-text{
    font-size: 15px;
    color: #BDBDBD;
    }
    .forgot-text{
    font-size: 14px;
    color: #BDBDBD;
    text-align: right;
    }
    /*sign-in-btn*/
    .sign-in-btn{
    width: 60%;
    height: 55px;
    align-self:center;
    margin-top:30px;
    position:relative;
    bottom:0;
    font-size:large;
    color:white;
    border-radius: 8px;
    background-color: rgb(223, 22, 79);
    }
#navbar.nav
  ul.nav.navbar-nav.navbar-right
    li
      a.menu(href='/') Home
    li
      h2.menu(href='#') Employee Login
.signin
  .back-img
    .sign-in-text
      h2.active Sign In
      h2.nonactive as employee
    // /.sign-in-text
    .layer
    // /.layer
    p.point &#x25B2;
  // /.back-img
  .form-section
    form(action='/elogin' method="POST")
      // Email
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#sample3.mdl-textfield__input(type='email' name="email")
        label.mdl-textfield__label(for='email') Email
    
      br
      // Password
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#sample3.mdl-textfield__input(pattern='.{8,}' type='password' name="password")
        label.mdl-textfield__label(for='password') Password
      br
      p.forgot-text Forgot Password ?
      // CheckBox
      label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-1')
        input#checkbox-1.mdl-checkbox__input(type='checkbox' checked='')
        span.keep-text.mdl-checkbox__label Keep me Signed In
  
      input.sign-in-btn.mdl-button.mdl-js-ripple-effect.mdl-js-button.mdl-button--raised.mdl-button--colored(type='submit' value='Login In')
    
