doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./static/css/navbar.css')
  title MENU
  style.
    style.
    #navbar{
    /* position: sticky; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: white;
    box-shadow: 5px 3px 5px  rgb(129, 127, 127);
    }
    #navbar ul{
    margin-left: 50%;
    }
    li {
    list-style: none;
    display: inline-block;
    align-items: center;
    height: 40%;
    padding: 1rem;
    }
    a:hover,
    a:visited,
    a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    }
    table,tr,td,th
    {
    margin-top:3%;
    border: 3px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 5px;
    }
    h1{
    margin-top:3%;
    text-align: center;
    }
    body{
    background-color: lightgrey;
    }
#navbar.nav
  ul.nav.navbar-nav.navbar-right
    li
      a.menu(href='/') Home
    li
      h2.menu(href='#') 3 Time Meal Plan
h1 BREAKFAST AND DINNER
table
  thead
    tr
      th Days
      th Breakfast
      th Dinner
      | ;
  tbody
    tr
      td Monday
      td
        | Pongal/Upuma, Medhu
        | Vadai(2 Nos.), Sambar,
        | Coconut Chutney,
        | Bread, Butter Jam,
        | Coffee/Tea, Milk
      td
        | Chappathi, Dhal or Alu
        | kurma, Bisibelabaath,
        | Onion-Raitha, Fruit
        | salad (1 cup), IceCream, Potato chips,
        | Pickles, Butter Milk
    tr
      td Tuesday
      td
        | Dosai, Sambar,
        | Tomato Chutney,
        | Bread, Butter Jam,
        | Coffee/Tea, Milk
      td
        | Chappathi, Malai
        | Kofta, Veg. Poriyal,
        | Plain Rice, Tomato
        | Rasam, Butter Milk,
        | Banana, Pickles
    tr
      td Wednesday
      td
        | Onion oothappam,
        | Pudina Chutney,
        | Bread, Butter Jam,
        | Coffee/Tea, Milk
      td
        | Chappathi,
        | Mutter pannier (2cups),
        | Puliyogare, Curd Rice,
        | Banana, Pickles,
        | Appalam, Butter Milk
    tr
      td Thursday
      td
        | Masala dosai, Ground
        | Nut Chutney, Bread
        | Bajji, Butter Jam,
        | Coffee/Tea, Milk
      td
        | Chappathi, Veg Butter
        | Masala, Dry Gobi
        | Manchurian, Plain Rice,
        | Sambar, Pepper
        | Rasam, Butter Milk,
        | Banana, Pickles
    tr
      td Friday
      td
        | Idly, Sambar,
        | Mint Chutney, Bread,
        | Butter Jam, Medhu
        | vadai (
      td
        | Chappathi, Aloo Gobi
        | Masala, Vegetable Curry,
        | Plain Rice, Lemon
        | Rasam, Banana, Pickles,
        | Butter Milk
    tr
      td Saturday
      td
        | Poori,
        | Alu Sabji/Channa
        | masala, Bread,
        | Butter Jam,
        | Coffee/Tea, Milk
      td
        | Pav Bhaji, Curd
        | Rice, Lemon Rice,
        | Potato chips,
        | Banana, Pickles,
        | Butter Milk
    tr
      td Sunday
      td
        | Alu Parota(4 Nos.),
        | Curd, Pickles, Bread,
        | Butter Jam, Coffee/Tea,
        | Milk
      td
        | Battura, Chole, Curd
        | Rice, Banana,
        | Pickles
