doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./static/css/navbar.css')
  title MENU
  style.
    table,tr,td,th
    {
    margin-top:3%;
    border: 3px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 5px;
    }
    h1{
    margin-top:3%;
    text-align: center;
    }
    body{
    background-color: lightgrey;
    }
#navbar.nav
  ul.nav.navbar-nav.navbar-right
    li
      a.menu(href='/') Home
    li
      h2.menu(href='#') 3 Time Meal Plan
h1 BASIC MEAL
table
  thead
    tr
      th Days
      th Breakfast
      th Lunch
      th Dinner
      | ;
  tbody
    tr
      td Monday
      td
        | Pongal/Upuma, Medhu
        | Vadai(2 Nos.), Sambar,
        | Coconut Chutney,
        | Bread, Butter Jam,
        | Coffee/Tea, Milk
      td
        | Fulka, Peas
        | Masala, Dry Ladies finger
        | fry, Plain rice, sambar,
        | Rasam, Curd, Appalam,
        | Pickles
      td
        | Chappathi, Dhal or Alu
        | kurma, Bisibelabaath,
        | Onion-Raitha, Fruit
        | salad (1 cup), IceCream, Potato chips,
        | Pickles, Butter Milk
    tr
      td Tuesday
      td
        | Dosai, Sambar,
        | Tomato Chutney,
        | Bread, Butter Jam,
        | Coffee/Tea, Milk
      td
        | Chappathi, Dry Alu Gobi
        | masala, Plain rice, Kara
        | Kuzhambu, Rasam, Curd,
        | Appalam, Pickles, Carrot
        | &amp; Peas Avial
      td
        | Chappathi, Malai
        | Kofta, Veg. Poriyal,
        | Plain Rice, Tomato
        | Rasam, Butter Milk,
        | Banana, Pickles
    tr
      td Wednesday
      td
        | Onion oothappam,
        | Pudina Chutney,
        | Bread, Butter Jam,
        | Coffee/Tea, Milk
      td
        | Chappathi, Dhal Fry,
        | Beet-Root Channa, Plain
        | rice, Sambar, Rasam,
        | Curd, Appalam, Pickles
      td
        | Chappathi,
        | Mutter pannier (2cups),
        | Puliyogare, Curd Rice,
        | Banana, Pickles,
        | Appalam, Butter Milk
    tr
      td Thursday
      td
        | Masala dosai, Ground
        | Nut Chutney, Bread
        | Bajji, Butter Jam,
        | Coffee/Tea, Milk
      td
        | Chappathi, Dhal palak,
        | Alu Lajawab, Plain rice,
        | Morkozhambu, Rasam,
        | Curd, Appalam, Pickles
      td
        | Chappathi, Veg Butter
        | Masala, Dry Gobi
        | Manchurian, Plain Rice,
        | Sambar, Pepper
        | Rasam, Butter Milk,
        | Banana, Pickles
    tr
      td Friday
      td
        | Idly, Sambar,
        | Mint Chutney, Bread,
        | Butter Jam, Medhu
        | vadai (
      td
        | Chappathi, Soya Beans
        | Rajma masala, Plain rice,
        | Vethakkozhambu,
        | Rasam, Curd, Appalam,
        | Pickles, Vaazhakaporiyal
      td
        | Chappathi, Aloo Gobi
        | Masala, Vegetable Curry,
        | Plain Rice, Lemon
        | Rasam, Banana, Pickles,
        | Butter Milk
    tr
      td Saturday
      td
        | Poori,
        | Alu Sabji/Channa
        | masala, Bread,
        | Butter Jam,
        | Coffee/Tea, Milk
      td
        | Fulka,
        | Dhal Punjabi, Mix-Veg
        | Aviyal, Plain rice, Sambar,
        | Rasam, Curd, Appalam,
        | Pickles
      td
        | Pav Bhaji, Curd
        | Rice, Lemon Rice,
        | Potato chips,
        | Banana, Pickles,
        | Butter Milk
    tr
      td Sunday
      td
        | Alu Parota(4 Nos.),
        | Curd, Pickles, Bread,
        | Butter Jam, Coffee/Tea,
        | Milk
      td
        | Chappathi, Dhal, Panner
        | butter masala (1 cup),
        | Sweet (Kesari/ Payasam),
        | Plain rice, Sambar, Rasam,
        | Curd, Appalam, Pickles,
        | Cabbage Poriyal
      td
        | Battura, Chole, Curd
        | Rice, Banana,
        | Pickles
